[Unit]
Description=Amazon DCV virtual session for {{ dev_user }}
After=dcvserver.service
Requires=dcvserver.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/dcv create-session --owner {{ dev_user }} --type virtual --init /etc/dcv/dcv-gnome-session.sh {{ dev_user }}-session
ExecStop=/usr/bin/dcv close-session {{ dev_user }}-session

[Install]
WantedBy=multi-user.target
