# Source: instfiles/xrdp.service.in v0.10.6 [CITED: github.com/neutrinolabs/xrdp]
# @sbindir@ -> /usr/local/sbin (Phase 10 --prefix=/usr/local)
# @sysconfdir@ -> /etc (Phase 10 --sysconfdir=/etc)
[Unit]
Description=xrdp daemon
Documentation=man:xrdp(8) man:xrdp.ini(5)
Requires=xrdp-sesman.service
After=network-online.target xrdp-sesman.service

[Service]
Type=exec
EnvironmentFile=-/etc/sysconfig/xrdp
EnvironmentFile=-/etc/default/xrdp
ExecStart=/usr/local/sbin/xrdp $XRDP_OPTIONS --nodaemon
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
